/* From Uiverse.io by satyamchaudharydev */

.botton_inicio {
    padding: 0;
    margin: 0;
    border: none;
    background: none;
    cursor: pointer;
    --primary-color:#111;
    --hovered-color:#c84747;
    position: relative;
    display: flex;
    font-weight: 700;
    font-size: 20px;
    gap: 0.5rem;
    align-items: center;

    a {
      display: flex;
      gap: 10px;
  
    p {
      margin: 0;
      position: relative;
      font-size: 20px;
      color: var(--primary-color);
    }
  
    &::after {
      position: absolute;
      content: "";
      width: 0;
      left: 0;
      bottom: 3px;
      background: var(--hovered-color);
      height: 2px;
      transition: 0.3s ease-out;
    }
  
    p::before {
      position: absolute;
  
      /*   box-sizing: border-box; */
      content: "Pide Ya!";
      width: 0%;
      inset: 0;
      color: var(--hovered-color);
      overflow: hidden;
      // transition: 0.3s ease-out;
    }
  
    &:hover {
      &::after, p::before {
        width: 100%;
      }
  
      svg {
        transform: translateX(4px);
        color: var(--hovered-color);
      }
    }
  
    svg {
      color: var(--primary-color);
      transition: 0.2s;
      position: relative;
      width: 15px;
      transition-delay: 0.2s;
    }
    }
  }
  